<!DOCTYPE html>
<html>
<head>
    <title>Tabelle</title>
    <style>
    table, tr, td{
       border: 1px solid black
    }
    </style>
<head>
<body>
    <h1>Tabelle</h1>
    <table>
      <tr>
        <th>Databases</th>
        <th>Submit</th>

      </tr>
      {%for i in mycursor%}
      <tr>
        <td>{{i[0]}}</td>
        <td>
          <form action="{{ url_for("index") }}" method="post">
          <input type="checkbox">
        </td>
      </tr>
      {%endfor%}
    </table>
    <form action="{{ url_for("index") }}" method="post">
    <input type="submit" name="submit" id="submit" value="Submit">
</body>
</html>
