<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Lösche Datenbank</title>
<head>
<body>
    <h1>Lösche Datenbank</h1>
    <button type="button" onclick="window.location.href='{{ url_for( 'database') }}';">Back</button><br><br>
    <form method="post">
        <table>
            <tr>
                <th>Databases</th>
                <th>Submit</th>
            </tr>
            {%for i in mycursor%}
            <tr>
                <td>{{i[0]}}</td>
                <td><input type="checkbox" name="selected_items" value="{{ i[0] }}"></td>
            </tr>
            {%endfor%}
        </table><br>
        <button type="submit">Delete</button>
    </form>
</body>
</html>
