<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>MySQL-GUI</title>
<head>
<body>
    <h1>MySQL-GUI</h1>

    <div class="center">
       <form action="{{ url_for("index") }}" method="post">
          <label for="user">User:</label><br>
          <input type="text" id="user" name="user" placeholder="User Name"><br><br>
          <label for="password">Password:</label><br>
          <input type="password" id="password" name="password" placeholder="Password"><br><br>
          <button type="submit" id="login">Login</button>
       </form>
   </div>
</body>
</html>
